{% extends 'my_app/home.html' %}

{% block head_block %}
<style>
    #jumbotron5{
        margin-top: 60px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #fff;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    #header1{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        text-align: center;
    }
    #header2{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        margin-top: 60px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .profile_pic{
        margin: 20px auto 20px auto;
        width: 100%;
        height: 80%;
        border-radius: 50%;
    }
    #jumbotron6{
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    #header4{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }
    #param1{
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="new_banner4" style="margin-bottom: 10rem;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-4 col-sm-6">
                <h1 id="header2">Are you sure you want to delete this post?</h1>
                <form class="form-group" method="POST" action="">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-danger btn-lg" value="Delete">
                    <a href="{% url 'account' user.pk %}" class="btn btn-outline-info btn-lg">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" id="jumbotron1">
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h2 class="header5">Server</h2>
                <p class="param4">Our feet are on the ground, but our ambitions are above the clouds. Here is how we move from the getting to know you phase to creating something remarkable.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h2 class="header5">Contact</h2>
                <a href="" class="param4"><i class="fab fa-facebook"></i> Facebook</a>
                <br>
                <a href="" class="param4"><i class="fab fa-instagram" style="padding-top: 14px;"></i> Instagram</a>
                <p class="param4" style="padding-top: 14px;"><i class="far fa-envelope"></i> E-mail: </p>
            </div>
        </div>
    </div>
    <hr style="padding-bottom: 1px;background-color: #252857;">
    <p style="font-family: 'Montserrat', sans-serif;text-align: center;color: #BDBEC8;font-size: 19px;font-weight: bolder;margin-bottom: 0;">Sway by Server {{ date_posted }}. All Rights Reserved.</p>
</div>
{% endblock %}