{% extends 'my_app/home.html' %}

{% block head_block %}
<style>
    .new_banner6{
        width: 100%;
        height: 100%;
        background-color: #282c34;
    }
    #my_card1{
        margin-bottom: 10rem;
        background-color: #303746;
    }
    #my_card1:hover{
        background-color: #2b313f;
    }
    .header21{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #fff;
        text-align: center;
        padding-top: 6rem;
    }
    #hr5{
        background-color: #fff;
        margin-left: 420px;
        margin-right: 420px;
        margin-bottom: 6rem;
        transition: 0.4s ease-in-out;
    }
    .text-hover:hover #hr5{
        margin-left: 360px;
        margin-right: 360px;
    }
    #image6{
        border-radius: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .header20{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        text-align: center;
        color: #fff;
        padding-bottom: 30px;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="new_banner6">
    <div class="container">
        <div class="text-hover">
            <h1 class="header21">Staff</h1>
            <hr id="hr5">
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card" id="my_card1">
                    <img src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/17/17d7c2511a44f8f184a66d31bfe966ed4b1796ec_full.jpg" id="image6">
                    <br>
                    <h1 class="header20">Rafa</h1>
                    <a href="https://steamcommunity.com/profiles/76561198839459444/" class="btn btn-outline-light btn-block">View profile</a>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card" id="my_card1">
                    <img src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/ef/efb475ea218b9fc37210034883359af4f73c6106_full.jpg" id="image6">
                    <br>
                    <h1 class="header20">Baji</h1>
                    <a href="https://steamcommunity.com/id/Sasu68/" class="btn btn-outline-light btn-block">View profile</a>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card" id="my_card1">
                    <img src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/19/19a964bbd2792df813c898094ddf087438c6d75d_full.jpg" id="image6">
                    <br>
                    <h1 class="header20">Tipic</h1>
                    <a href="https://steamcommunity.com/profiles/76561198805873997/" class="btn btn-outline-light btn-block">View profile</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" id="jumbotron1">
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h2 class="header5">Server</h2>
                <p class="param4">Our feet are on the ground, but our ambitions are above the clouds. Here is how we move from the getting to know you phase to creating something remarkable.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h2 class="header5">Contact</h2>
                <a href="" class="param4"><i class="fab fa-facebook"></i> Facebook</a>
                <br>
                <a href="" class="param4"><i class="fab fa-instagram" style="padding-top: 14px;"></i> Instagram</a>
                <p class="param4" style="padding-top: 14px;"><i class="far fa-envelope"></i> E-mail: </p>
            </div>
        </div>
    </div>
    <hr style="padding-bottom: 1px;background-color: #252857;">
    <p style="font-family: 'Montserrat', sans-serif;text-align: center;color: #BDBEC8;font-size: 19px;font-weight: bolder;margin-bottom: 0;">Sway by Server {{ date_posted }}. All Rights Reserved.</p>
</div>
{% endblock %}